.nav-icon {
    max-height: 50px;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.25s;
}
a:hover {
    transform: scale(0.9);
}

#profile-link {
    display: flex;
    column-gap: 10px;
    align-items: center;
}
#profile-link > p {
    margin: 0;
}