.navbar {
    width: 100%;
    display: block;
}

.navbar * {
    user-select: none;
}

.navbar .row {
    width: 100%;
    margin: 0;
}

.navbar .col-4 {
    display: flex;
}

.navbar #left {
    justify-content: left;
}

.navbar #middle {
    justify-content: center;
    align-items: center;
}

.navbar #middle * {
    margin: 0;
}

.navbar #right {
    justify-content: right;
}

.navbar .nav-icon {
    max-height: 50px;
}

.navbar #pfp {
    border: 2px solid gray;
    border-radius: 50%;
}

.navbar #profile-link {
    display: flex;
    column-gap: 10px;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    transition: 0.25s;
}
.navbar #profile-link > p {
    margin: 0;
}
.navbar #profile-link:hover {
    background-color: white;
}
