.post {
    background-color: #d6d6d6;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.post .info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
}

.post .info-section .content {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    white-space: pre-line; 
}

.post .info-section > .date {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.post .author-section {
    width: fit-content;
}

.post .author-section img {
    height: 1rem;
    border-radius: 50%;
}

.post .author-section p {
    display: inline;
    margin-left: 5px;
}

.post .icon-section p {
    margin: 0;
}

.post .icon-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post .icon-section .icon {
    cursor: pointer;
    transition: 0.25s;
    width: 75px;
    padding: 10px;
}

.post .icon-section .icon:hover {
    transform: scale(0.75);
}

#share-icon:hover {
    filter: invert(50%) sepia(100%) saturate(10000%) brightness(100%) hue-rotate(-60deg);
}

#edit-icon:hover {
    filter: invert(50%) sepia(100%) saturate(10000%) brightness(100%) hue-rotate(120deg);
}

#delete-icon:hover {
    filter: invert(50%) sepia(100%) saturate(10000%) brightness(100%) hue-rotate(0deg);
}

.post .loading {
    filter: blur(5px);
}

.post .link {
    color: blue;
    text-decoration: underline;
}

.post .link:hover {
    color: rgb(128, 128, 255);
}

.post .tag {
    color: #a532ff;
}

.post .tag:hover {
    color: #d299ff;
}

/* https://stackoverflow.com/questions/64476753/how-to-convert-black-image-to-red-color-image-using-css3-filter */