.post {
    background-color: #d6d6d6;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-section > .content {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}

.info-section > .date {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.author-section {
    width: fit-content;
}

.author-section img {
    width: 1rem;
    border-radius: 50%;
}

.author-section p {
    display: inline;
    margin-left: 5px;
}

.icon-section {
    display: flex;
    justify-content: right;
    align-items: center;
}

#delete-icon {
    transition: 0.25s;
    height: 50%;
}
#delete-icon:hover {
    transform: scale(0.75);
    cursor: pointer;
    filter: invert(21%) sepia(100%) saturate(10000%) brightness(75%);
}

.loading {
    filter: blur(5px);
}

/* https://stackoverflow.com/questions/64476753/how-to-convert-black-image-to-red-color-image-using-css3-filter */