#tree-canvas {
    border-radius: 15px;

    display: block;
    margin: auto;
}

.tree-node {
    transition: 0.25s;
    cursor: pointer;
}

.tree-edge {
    stroke: black;
    stroke-width: 3px;
}

#tree-canvas image {
    cursor: pointer;
}