.modal .col-lg-6.col-12 {
    padding: 10px;
}

.modal #options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal #options > * {
    width: 85%;
}

.modal-content {
    width: 50vw;
} 

.modal-content.mini {
    width: 90vw;
}

.divider {
    border: 5px solid black;
}