.user {
    background-color: #d6d6d6;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.25s;
}

.user img {
    width: 100%;
    border: 5px solid gray;
    border-radius: 50%;
}

a .user:hover {
    transform: scale(0.9);
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}