.user-wrapper {
    display: inline-block;
}

.user {
    background-color: #d6d6d6;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.25s;
}

.user.search-page:hover  {
    background-color: white;
}

.user.profile-page:hover {
    background-color: #D299FF;
}

.user img {
    width: 100%;
    border: 3px solid gray;
    border-radius: 50%;
}

.user .loading {
    filter: blur(5px);
}

.user .icon-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user .info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user .info-section p {
    margin: 0;
    font-size: 1rem;
}

@media screen and (min-width: 768px) {
    .user .info-section p {
        font-size: 1.25rem;
    }
}

.disabled-link {
    pointer-events: none;
}