@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    font-family: 'Kanit', sans-serif;
}

body {
    background-color: #A532FF;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.25s;
}

a:hover {
    transform: scale(0.9);
}

.error-msg {
    color: red;
    background-color: rgb(64, 64, 64);
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
}

.active-button, .keyword {
    color: #A532FF;
    font-weight: bold;
}

.modal {
    display: block;
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    backdrop-filter: blur(5px);
    transition: 1s;
}

.modal-content {
    /* Center container */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 50vw;
    border-radius: 15px;
}

.modal-content.mini {
    width: 90vw;
}

.modal .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    width: fit-content;
}

.modal .close:hover, .modal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.password-toggle {
    width: 1rem;
    margin: 5px;
    cursor: pointer;
}

.password-toggle:hover {
    opacity: 0.5;
}

.highlight {
    background-color: yellow;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: grab;
}