#highlight-cont {
    background-color: black;
    padding: 10px;
    border-radius: 15px;
    width: 75vw;
    height: 75vh;
    margin: 12.5vh 12.5vw 12.5vh 12.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#highlight-cont > p {
    color: white;
    text-align: center;
    margin: 0;
}

#highlight-cont > p > a {
    color: white;
    font-weight: bold;
    display: inline-block; /* Needed for hover effect to work */
}

#highlight-cont > p > a:hover {
    transform: scale(0.9);
}