#home-cont {
    height: 75vh; /* Container is 75% of the viewport height */
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 0;
    position: relative;
}

#home-cont .tree-text {
    margin-top: 5px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.spinner-cont {
    text-align: center;
}

.spinner-border {
    height: 100px;
    width: 100px;
}