#home-cont {
    height: 75vh; /* Container is 75% of the viewport height */
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 0;
}

.spinner-cont {
    text-align: center;
}

.spinner-border {
    height: 100px;
    width: 100px;
}