#profile-cont {
    height: 75vh;
    margin-top: 5vh;
}

#post-form-modal, #picture-form-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */ 
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#profile-cont > .row {
    height: 100%;
}
#profile-cont #info-col, #profile-cont #posts-col {
    background-color: rgba(255, 255, 255, 0.5);
    margin: auto;
    height: 100%;
    border-radius: 15px;
}
#profile-cont #info-col {
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
}
#profile-cont #info-col > img {
    border: 5px solid gray;
    border-radius: 50%;
    margin: 10px auto 10px auto;
    width: 50%;
}
#profile-cont #info-col > button {
    width: 70%;
    transition: 0.25s;
}
#profile-cont #info-col > button:hover {
    transform: scale(0.9);
}
#profile-cont #info-col > hr {
    width: 80%;
    height: 2px;
}
#profile-cont #posts-col {
    overflow-y: hidden;
}
#profile-cont #posts-col:hover {
    overflow-y: auto;
}