#profile-cont {
    height: 75vh; /* Container is 75% of the viewport height */
    margin-top: 5vh;
}

#profile-cont.mini {
    margin-top: 0;
}

#post-form-modal, #picture-form-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: -1; /* Put below all other elements */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */ 
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#profile-cont > .row {
    height: 100%; /* Height matches the height of parent (#profile-cont) */
}

#profile-cont #info-col, #profile-cont #posts-col {
    margin: auto;
    border-radius: 15px;
    height: 100%; /* Height matches the height of parent (#profile-cont .row) */
}

#profile-cont #info-col {
    display: flex; /* Needed for flex-direction and align-items */
    flex-direction: column;
    padding: 15px;
    align-items: center; /* Horizontally center items */

    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
}

#profile-cont #info-col.mini {
    background-color: rgba(255, 255, 255, 0);
    height: fit-content;
}

#profile-cont #info-col p {
    margin-bottom: 0.5rem;
}

#profile-cont #info-col > img {
    border: 2px solid gray;
    border-radius: 50%;
    margin: 10px auto 10px auto;
    width: 50%;
}

#profile-cont #info-col > button {
    width: 70%;
    transition: 0.25s;
    user-select: none;
}

#profile-cont #info-col > button:hover {
    transform: scale(0.9);
}

#profile-cont #info-col > hr {
    width: 80%;
    height: 2px;
}

#profile-cont #posts-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
}